<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Download Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Download Stuff.</strong>
    <div id="container-2">
      <ion-button (click)="downloadFile('image')">
        Image
        <ion-icon slot="end" name="image-outline"/>
      </ion-button>
      <ion-button (click)="downloadFile('pdf')">
        PDF
        <ion-icon slot="end" name="document-text-outline"/>
      </ion-button>
      <ion-button (click)="downloadFile('video')">
        Video
        <ion-icon slot="end" name="videocam-outline"/>
      </ion-button>
    </div>
    <!-- <ion-progress-bar [value]="progressBar"></ion-progress-bar> -->
  </div>
</ion-content>
